*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 0;
    padding-top: 65px;
    background-color: #0B0A0A;
    
}

h1 {
    font-size: 3em;
}

h1, h2,p {
    padding: 10px;
}

.header{
    background: #24252A;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: #24252A;
    z-index: -1;
}

.header::after {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
}
.header-logo img{
    width: 220px
    
    
}


.navbar a{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    padding: 10px;
}

nav a:hover{
    background-color: #4C4C4E;
}

    
#check {
    display: none;
}

.icons{
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    right: 5%;
    position: absolute;
    display: none;
}

.some-icons {
    color: #fff;
    text-align: center;
}

.some-icons a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
   .header {
    padding: 1.3rem 5%;
   } 
}
@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }    
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #24252A;
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0; 
        transition: 3s ease;
    }
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15sec * var(--i));
    }
}

body{
    color: #fff;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
main{
    margin-top: 5px;
}
.confirmation-message {
    background: #24252A;
    
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.cart-item:last-child {
    border-bottom: none;
}
.cart-item img {
    max-width: 60px;
    margin-right: 20px;
}
.cart-item h2 {
    margin: 0;
}

footer{
    background: #24252A;
    bottom: 0;
    position: inherit;
    height: 65px;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 1.3rem 5%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:left;
}

.footer a{
    margin: 0.2rem;
    font-size: 16px;

}
