*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 0;
    padding-top: 80px;
    background-color: #0B0A0A;
    font-family: "Poppins", sans-serif;
}

h1, h2,p {
    padding: 10px;
}

.header{
    background: #24252A;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: #24252A;
    z-index: -1;
}

.header::after {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
}
.header-logo img{
    width: 220px
}


.navbar a{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    padding: 10px;
}

nav a:hover{
    background-color: #4C4C4E;
}

    
#check {
    display: none;
}

.icons{
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    right: 5%;
    position: absolute;
    display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
   .header {
    padding: 1.3rem 5%;
   } 
}
@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }    
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #24252A;
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0; 
        transition: 3s ease;
    }
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15sec * var(--i));
    }
}

.cta{
    background-color: #BD6139;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 80px;
    border-radius: 5px;
    font-weight: 700;
}

.cta-big{
    padding: 10px 90px;
}

.cta-buy{
    background-color: #BD6139;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 40px;
    border-radius: 25px;
    font-weight: 700;
    margin: 5px;
    border-radius: 5px;

    
}
body{
    color: #fff;
    margin-top: auto;
}
main{
    margin-top: 5px;
}

footer{
    background: #24252A;
    bottom: 0;
    position: static;
    height: 150px;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 1.3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a{
    margin: 0.2rem;
    font-size: 16px;

}

/*Home page*/
.welcome{
    background-image: url(images/fast-furious-presents-hobbs-shaw-key-art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 119vh;
    position: relative;
    color: #000;
    padding: 10px;
}



.welcome__content{
    position: absolute;
    top: 100px;
    left: 100px;
    color: #000;
}


.movie-products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

.movie-products h2 {
    grid-column: -1/1;
}

.movie-products img{
    width: 100%;
    height: 80%;
    
}


.commercial {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.commercial > * {
    flex: 1;
    text-align:left;

}

.commercial_images {
    border-radius: 100px;
}

.resume-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.resume-list h2{
    grid-column: -1/1;
    
}

.resume list img{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
   
}


/*Checkout page*/

.checkout{
    max-width:px;
    
}
.details-wrapper {
    display: flex;
    margin: 5px;
    text-align: left;
    width: 500px;

}

.details-wrapper > * {
    flex: 1;
    display:inline-block;
    flex-direction:column;
}

/*Success page*/


/*Contact page*/
input, select, textarea {
    border: 1px solid#0B0A0A;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.form-wrapper {
    display: flex;
    margin: 5px;
    text-align: left;
    width: 480px;
}
.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.contact {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.contact p {
    color: #777777;
}

/*About page*/
.about-us{
    display: flex;
    flex-wrap: wrap;
}
.about-us img{
    width: 100%;
    height: 80%;
}
.discover-films{
  display: flex;
  
}

.discover-films img{
    width: 100%;
    height: 80%;
}

/*Movies page*/
.new-movies {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: 50px auto;
    
}

.new-movies p{
    color: #0DC6C6;
}

.trending-movies{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: 50px auto;
}

.trending-movies p {
    color: #0DC6C6;
}
.recommended-movies{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: 50px auto;
}

.recommended-movies p {
    color: #0DC6C6;
}
.products h3,p {
    grid-column: -1/1;
}
.products img{
    width: 100%;
    height: 80%;
}
